//! **************************************************************************
// Written by: Map P.20131013 on Fri Jul 31 23:01:30 2020
//! **************************************************************************

SCHEMATIC START;
COMP "clock" LOCATE = SITE "P132" LEVEL 1;
SCHEMATIC END;

